.fa-virus {
    color: #4CAF50;
    font-size: 1.2em;
}

@media (prefers-reduced-motion: no-preference) {
    .fa-virus {
        animation: virus-spin infinite 4s linear;
    }
}

@keyframes virus-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}